body{background-image:C:\Users\admin\Downloads\Company.jpg;size:100%,100%;margin-left:0.1;margin-right:0.1;margin-top:0.1pt3:30 PM 5/25/2022 ;font-size:16pt;}
h1{background:skyblue;color:blue;font-size:1in;}
.class{font-size:20pt;color:white;background:black;margin-left:1in;margin-right:1in;}
.note{font-size:14;font-family:arial;color:blue;}
p{font-size: 20;font-family: arial black;background: black;color: white;align-content: center;align-bottom:0.1pt ;}
.go{font-size: 20;font-family: arial black;background:lightsalmon;color: white;align-content: center;align-bottom:0.1pt ;}